@font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa-Heavy.ttf");
    font-weight: 20;
    font-style: normal;
}

@font-face {
    font-family: "Mufist";
    src: url("../assets/Mufist-Variable03.otf");
    font-weight: 20;
    font-style: normal;
}

html {
    min-height: 100%;
}

body {
    font-family: Nexa;
    background-color: #d6eae7;
    background-image: url("../assets/landscape.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.container{
    max-width: 400px;
    max-height: 760px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(225, 237, 241, 0.676);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 105px;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    background: linear-gradient(90deg, #318be6, #b873f0); /* Define the gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}

input {
    font-family: Nexa;
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin: 15px auto; /* Centering the margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block; /* Ensures the input takes the full width */
}

button {
    font-family: Nexa;
    font-size: medium;
    background-color: #318be6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5fb0c4;
}

.errorMessage{
    font-size: 20px;
    color: #ef2929;
}

.resetBtn {
    background-color: #318be6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.resetBtn:hover{
    background-color: red;
}

#title {
    font-family: Mufist;
    font-size: 35px;
}

.weather-info{
    margin-top: 20px;
}

#location {
    font-size: 30px;
}

#temperature {
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
}

#weatherDesc {
    font-size: 20px;
    margin: 10px;
}

#weatherImg {
    width: 70px;
    height: 70px;
    margin: -20px;
}

.randomizeBtn {
    background-color: #318be6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.randomizeBtn:hover {
    background-color: #2d7a00;
}

.favoriteBtn {
    background-color: #318be6; /* Default background color */
    margin-bottom: 10px; /* Add space below the Favorite Location button */
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
}

.favoriteBtn:hover {
    background-color: #fff8a9; 
    color: #000; 
}

.historyBtn {
    background-color: #318be6;
    margin-left: 10px;
    margin-top: 0; /* Ensure it aligns with the Favorite Location button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.historyBtn:hover {
    background-color: #b873f0;
}
